body, html {
  height:100%;
  margin: 0;
  padding: 0;
  background-color: #EEF3E7;
}
body {
  overflow: hidden;
}
@font-face {
  font-family: 'DaysOne';
  src: url('fonts/DaysOne.ttf');
}

#canvas-container {
	width:75%;
	height:75%;
	position:absolute;
	top: 20%;
}

#title-container {
  width:90%;
  height:20%;
  position:absolute;
  top: 0;
  left:5%;
  font-family: "DaysOne", Verdana, sans-serif;
  font-size: 3vh;
}
